
.brand-text {
  text-align: left; /* Aligns the text to the left */
}
.bg-body-tertiary{
  background-color: none
}

/* main page */
.animated-image {
  animation: mymove 1s ;
}

@keyframes mymove {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.start-animation {
  animation: slideInFromRight 0.5s ease-out;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.end-animation {
  animation: slideInFromLeft 1s ease-in;
}


@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.bottom-animation {
  animation: slideInFromBottom 2s ease-out;
}

.border-img {
  border: 6px solid #FF8E26;
  border-radius: 20px;
  padding: 2px;
}
.text-header{
  font-size: 100px;
  color: #FF8E26;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  margin-left: 100px;
}

.text-title {
  font-size: 20px;
  color: #D541FF;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 54px;
}
.text-header-grey{
  font-size: 100px;
  color: #646464;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  margin-left: 105px;
  margin-top: 5px;
}
.text-sub-header-surname{
  font-size: 30px;
  color: #FF8E26;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.text-sub-header-name{
  font-size: 60px;
  color: #FF8E26;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
}
.text-position{
  font-size: 20px;
  color: #646464;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin-right: 40px;
  text-align: end;
}

/* @media (max-width: 576px) {
  .text-header {
    color: #FF8E26;
    text-transform: uppercase;
    font-size: 60px;
    margin-left: 20px;
  }
  .text-header-grey {
    font-size: 60px;
    color: #646464;
    text-transform: uppercase;
    margin-left: 20px;
  }
  .text-sub-header-name {
    font-size: 40px;
    margin-left: 20px;
    color: #FF8E26;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  .text-sub-header-surname {
    font-size: 20px;
    color: #FF8E26;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-left: 20px;
  }
  .text-position {
    font-size: 16px;
    margin-right: 20px;
    color: #646464;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
    text-align: start;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .text-header {
    font-size: 80px;
    color: #FF8E26;
    text-transform: uppercase;
    margin-left: 50px;
  }
  .text-header-grey {
    font-size: 80px;
    color: #646464;
    text-transform: uppercase;
    margin-left: 50px;
  }
  .text-sub-header-name {
    font-size: 50px;
    margin-left: 50px;
    color: #FF8E26;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  .text-sub-header-surname {
    font-size: 25px;
    margin-left: 50px;
    color: #FF8E26;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  .text-position {
    font-size: 18px;
    margin-right: 30px;
    text-align: end;
    color: #646464;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  }
}

@media (min-width: 768px) {
  .text-header {
    font-size: 100px;
    color: #FF8E26;
    text-transform: uppercase;
    margin-left: 100px;
  }
  .text-header-grey {
    font-size: 100px;
    color: #646464;
    text-transform: uppercase;
    margin-left: 100px;
  }
  .text-sub-header-name {
    font-size: 60px;
    color: #FF8E26;
    text-transform: uppercase;
    margin-left: 100px;
  }
  .text-sub-header-surname {
    font-size: 30px;
    color: #FF8E26;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-left: 100px;
  }
  .text-position {
    font-size: 20px;
    color: #646464;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: 40px;
    text-align: end;
  }
} */

/* Skill Page */
.text-header-title{
  font-size: 70px;
  color: #FF8E26;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  padding-top: 30px;
  margin-left: 50px;
}

input[type='range']::-webkit-slider-thumb {
  background-color: #FF8E26;
  animation: slideInFromLeft 0.5s ease-in;
}


input[type='range']::-webkit-slider-runnable-track {
  background-color: rgb(22, 22, 22); /* Change to your desired track color */
}
.pointer-events{
  pointer-events: auto !important;
}
.img-size{
  object-fit: cover;
  max-width: 300px

}
/* experience page */
.card-info {
  /* background-color: #F1E1E2; */
  padding: 20px;
  margin: 30px 100px;
  border: none;
}

.carousel-control-next-icon{
  padding: 0px;
  margin: 0px;
  color: black;
  background-color: black;
}

.carousel-control-prev-icon{
  color: black;
  background-color: black;

}
.carousel{
  position:none;
}

div.card-opacity{
  color: #000000;

}

.sub-text-info{
  color: black;
}

/* contact */
.name {
  color:#FF8E26;
  letter-spacing: 2px;
  font-size: 40px;

}

.surname {
  color:#FF8E26;
  letter-spacing: 2px;
  font-size: 30px;
  padding-left: 20px;
}

.on-select{
  background-color: rgba(225, 234, 249, 0.8);
  border-radius: 10px;
  padding: 5px;
}

.text-infomation {
  color:#FF8E26;
  font-size: 18px;
}

.bg-grade{
  background-color: rgba(233, 120, 0, 0.5);
  border-radius: 8px;
  padding: 3px 10px 3px 10px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
