.brand-text {
  text-align: left; /* Aligns the text to the left */
}
.bg-body-tertiary {
  background-color: none;
}

/* main page */
.animated-image {
  animation: mymove 1s;
}

.font-weight-bold {
  font-weight: bold !important;
  /* color: #7f2ddd !important; */
}

@keyframes mymove {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.start-animation {
  animation: slideInFromRight 0.5s ease-out;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.end-animation {
  animation: slideInFromLeft 1s ease-in;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.bottom-animation {
  animation: slideInFromBottom 2s ease-out;
}

.border-img {
  border: 6px solid #ff8e26;
  border-radius: 20px;
  padding: 2px;
}

/* main */

@media (min-width: 2560px) and (min-width: 950px) and (min-height: 580px) {
  .img-personal {
    /* min-width: 200px; */
    min-width: 150px;
    max-width: 400px;
  }
  .img-fluid {
    min-width: 100px;
    max-width: 550px;
  }
}

@media (max-width: 2560px) and (min-width: 950px) {
  .img-personal {
    margin: 0px 0px 0px 0px;
    min-width: 100px;
    max-width: 350px;
  }
  .img-fluid {
    min-width: 100px !important;
    max-width: 380px !important;
  }
  .text-port {
    display: flex;
    justify-content: end;
  }
  .text-header {
    font-size: 82px;
    color: #ff8e26;
    text-transform: uppercase;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: end;
  }
  .text-header-grey {
    font-size: 82px;
    color: #646464;
    text-transform: uppercase;
    margin: 4px -3px 0px 0px;

    display: flex;
    justify-content: end;
  }
  .text-sub-header-name {
    font-size: 35px;
    color: #ff8e26;
    text-transform: uppercase;

    margin: 220px 0px 0px 0px;
    display: flex;
    justify-content: end;
  }
  .text-sub-header-surname {
    font-size: 25px;
    color: #453221;
    text-transform: uppercase;
    letter-spacing: 5px;
    /* margin: 0px 0px 0px 890px; */
    display: flex;
    justify-content: end;
  }
  .text-position {
    font-size: 16px;
    color: #646464;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    /* margin: 0px 60px 0px 110px; */
    /* text-align: end; */
    display: flex;
    justify-content: end;
  }
  .button-next {
    margin: 0px 0px 0px 0px;
  }
  .text-button {
    font-size: 16px;
  }
}
@media (max-width: 951px) and (min-width: 726px) {
  .img-personal {
    margin: 0px 0px 0px 0px;
  }
  .text-port {
    display: flex;
    justify-content: end;
  }
  .text-header {
    font-size: 60px;
    color: #ff8e26;
    text-transform: uppercase;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: end;
  }
  .text-header-grey {
    font-size: 60px;
    color: #646464;
    text-transform: uppercase;
    margin: 3px -3px 0px 0px;

    display: flex;
    justify-content: end;
  }
  .text-sub-header-name {
    font-size: 30px;
    color: #ff8e26;
    text-transform: uppercase;

    margin: 200px 0px 0px 0px;
    display: flex;
    justify-content: end;
  }
  .text-sub-header-surname {
    font-size: 20px;
    color: #453221;
    text-transform: uppercase;
    letter-spacing: 5px;
    /* margin: 0px 0px 0px 890px; */
    display: flex;
    justify-content: end;
  }
  .text-position {
    font-size: 14px;
    color: #646464;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    /* margin: 0px 60px 0px 110px; */
    /* text-align: end; */
    display: flex;
    justify-content: end;
  }
  .button-next {
    margin: 0px 0px 0px 0px;
  }
  .text-button {
    font-size: 14px;
  }
}

@media (max-width: 725px) and (min-width: 200px) {
  .display-phone {
    display: flex;
    flex-direction: column;
  }

  .orders-custom-1 {
    order: 1 !important;
  }

  .orders-custom-2 {
    order: 2 !important;
  }

  .img-personal {
    margin: 50px 0px 0px 0px;
  }

  .text-port {
    display: flex;
    justify-content: end;
  }

  .text-header {
    font-size: 60px;
    color: #ff8e26;
    text-transform: uppercase;
    margin: 0px;
    display: flex;
    justify-content: end;
  }

  .text-header-grey {
    font-size: 60px;
    color: #646464;
    text-transform: uppercase;
    margin: 3px -3px 0px 0px;
    display: flex;
    justify-content: end;
  }

  .text-sub-header-name {
    font-size: 30px;
    color: #ff8e26;
    text-transform: uppercase;
    margin: 200px 0px 0px 0px;
    display: flex;
    justify-content: end;
  }

  .text-sub-header-surname {
    font-size: 20px;
    color: #453221;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: flex;
    justify-content: end;
  }

  .text-position {
    font-size: 14px;
    color: #646464;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    display: flex;
    justify-content: end;
  }

  .button-next {
    margin: 0px;
  }

  .text-button {
    font-size: 14px;
  }
}

/* Skill Page */

@media (max-width: 1412px) and (min-width: 1296px) {
  .card-img {
    min-width: 20;
    max-width: 550px;
  }
  .cover-card {
    min-width: 20px;
    max-width: 600px;
    position: absolute;
  }

  .img-modal{
    width: 500px;
  }
}
@media (max-width: 1297px) and (min-width: 1165px) {
  .card-img {
    min-width: 20;
    max-width: 500px;
  }
  .cover-card {
    min-width: 20px;
    max-width: 550px;
    position: absolute;
  }
  .img-modal{
    width: 500px;
  }
}
@media (max-width: 1166px) and (min-width: 1000px) {
  .card-img {
    min-width: 20;
    max-width: 400px;
  }
  .cover-card {
    min-width: 20px;
    max-width: 450px;
    position: absolute;
  }
  .img-modal{
    width: 500px;
  }
}
@media (max-width: 725px) {
  .display-phone {
    display: flex;
    flex-direction: column;
  }

  .orders-custom-1 {
    order: 1 !important;
  }

  .orders-custom-2 {
    order: 2 !important;
  }
  .img-modal{
    width: 300px;
  }
}
/* @media (max-width: 425px)  {
  

  .display-phone {
    display: flex;
    flex-direction: column;
  }

  .orders-custom-1 {
    order: 1 !important;
  }

  .orders-custom-2 {
    order: 2 !important;
  }
  .card-img {
    min-width: 20;
    max-width: 350px;
    height: 800px;
    position: absolute;
  }
  .cover-card {
    min-width: 20px;
    max-width: 370px;
    position: absolute;
  }
} */

.text-header-title {
  font-size: 60px;
  color: #ff8e26;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  padding-top: 30px;
  margin-left: 50px;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: #ff8e26;
  animation: slideInFromLeft 0.5s ease-in;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: rgb(22, 22, 22); /* Change to your desired track color */
}
.pointer-events {
  pointer-events: auto !important;
}
.img-size {
  object-fit: cover;
  max-width: 300px;
  max-height: 200px;
}

/* experience page */
@media (min-width: 2560px) and (min-width: 1108px) and (min-height: 580px) {
  .img-experience {
    width: 700px;
  }
  .carousel-control-prev {
    left: -160px !important;
  }
  .carousel-control-next {
    right: -160px !important;
  }
  .text-header-title-2 {
    font-size: 40px;
    color: #ff8e26;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    padding-top: 20px;
    margin-left: 50px;
  }
  .card-info {
    /* background-color: #F1E1E2; */
    padding: 20px;
    margin: 30px 100px;
    border: none;
  }

  .carousel-control-next-icon {
    padding: 0px;
    margin: 0px;
    color: black;
    background-color: black;
  }

  .carousel-control-prev-icon {
    color: black;
    background-color: black;
  }
  .carousel {
    position: none;
  }

  div.card-opacity {
    color: #000000;
  }

  .sub-text-info {
    color: black;
  }
}

@media (min-width: 1108px) {
  .img-experience {
    width: 600px;
  }
  .carousel-control-prev {
    left: -130px !important;
  }
  .carousel-control-next {
    right: -130px !important;
  }
  .text-header-title-2 {
    font-size: 40px;
    color: #ff8e26;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    padding-top: 20px;
    margin-left: 50px;
  }
  .card-info {
    /* background-color: #F1E1E2; */
    padding: 20px;
    margin: 30px 80px;
    border: none;
  }

  .carousel-control-next-icon {
    padding: 0px;
    margin: 0px;
    color: black;
    background-color: black;
  }

  .carousel-control-prev-icon {
    color: black;
    background-color: black;
  }
  .carousel {
    position: none;
  }

  div.card-opacity {
    color: #000000;
  }

  .sub-text-info {
    color: black;
  }
}
@media (max-width: 1024px) {
  .img-experience {
    width: 400px;
  }
  .carousel-control-prev {
    left: -60px !important;
  }
  .carousel-control-next {
    right: -60px !important;
  }
  .text-header-title-2 {
    font-size: 40px;
    color: #ff8e26;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    padding-top: 20px;
    margin-left: 50px;
  }
  .card-info {
    /* background-color: #F1E1E2; */
    padding: 20px;
    margin: 30px 30px;
    border: none;
  }

  .carousel-control-next-icon {
    padding: 0px;
    margin: 0px;
    color: black;
    background-color: black;
  }

  .carousel-control-prev-icon {
    color: black;
    background-color: black;
  }
  .carousel {
    position: none;
  }

  div.card-opacity {
    color: #000000;
  }

  .sub-text-info {
    color: black;
  }
}
@media (max-width: 768px) {
  .text-title-ex {
    font-size: 18px;
    margin: 0px 0px 0px 30px;
  }
  .img-experience {
    width: 400px;
    margin: 0px 0px 0px -50px;
  }
  .carousel-control-prev {
    left: -60px !important;
  }
  .carousel-control-next {
    right: -60px !important;
  }
  .text-header-title-2 {
    font-size: 40px;
    color: #ff8e26;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    padding-top: 20px;
    margin-left: 50px;
  }
  .card-info {
    /* background-color: #F1E1E2; */
    padding: 20px;
    margin: 30px 30px;
    border: none;
  }

  .carousel-control-next-icon {
    padding: 0px;
    margin: 0px;
    color: black;
    background-color: black;
  }

  .carousel-control-prev-icon {
    color: black;
    background-color: black;
  }
  .carousel {
    position: none;
  }

  div.card-opacity {
    color: #000000;
  }

  .sub-text-info {
    color: black;
  }
}
@media (max-width: 426px) {
  .nav-brand{
    font-size: 12px !important;
  }
  .nav-menu{
    font-size: 10px;
  }
  .text-title-ex {
    font-size: 18px;
    margin: 0px 0px 0px 30px;
  }
  .img-experience {
    width: 400px;
    margin: 0px 0px 0px -50px;
  }
  .carousel-control-prev {
    left: -20px !important;
  }
  .carousel-control-next {
    right: -20px !important;
  }
  .text-header-title-2 {
    font-size: 40px;
    color: #ff8e26;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    padding-top: 20px;
    margin-left: 50px;
  }
  .card-info {
    /* background-color: #F1E1E2; */
    padding: 20px;
    margin: 30px 30px;
    border: none;
  }

  .carousel-control-next-icon {
    padding: 0px;
    margin: 0px;
    color: black;
    background-color: black;
  }

  .carousel-control-prev-icon {
    color: black;
    background-color: black;
  }
  .carousel {
    position: none;
  }

  div.card-opacity {
    color: #000000;
  }

  .sub-text-info {
    color: black;
  }
}

/* contact */
@media (max-width: 2560px) and (min-width: 1500px) {
  .display-info-page{
    display: flex;
  }
  .text-header-title {
    font-size: 50px;
    color: #ff8e26;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    padding-top: 20px;
    margin-left: 50px;
  }
  .iframe-contact {
    width: 300px;
    height: 150px;
    border-radius: 10px;
    margin: 0px 0px 0px -60px;
  }
  .address-info {
    margin: 0px 0px 0px -30px;
  }
  .img-edu{
    width: 40px;
    height: 40px;
    padding-left: -15px;
  }
  .card-white-info {
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    width: 1000px;
    height: 550px;
  }
  .img-contact{
    width: 400px;
    border-radius: 20px;
  }
  .card-contact {
    /* float: center; */
    padding: 0px 30px;
    max-width: 2000px;
    min-width: 100px;
  }
  .name {
    color: #ff8e26;
    letter-spacing: 2px;
    font-size: 40px;
  }

  .surname {
    color: #ff8e26;
    letter-spacing: 2px;
    font-size: 25px;
    padding-left: 10px;
  }

  .on-select {
    background-color: rgba(225, 234, 249, 0.8);
    border-radius: 10px;
    padding: 5px;
  }

  .text-infomation {
    color: #ff8e26;
    font-size: 18px;
  }

  .bg-grade {
    background-color: rgba(233, 120, 0, 0.5);
    border-radius: 8px;
    padding: 3px 10px 3px 10px;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
}
@media (max-width: 1440px) and (min-width: 430px){
  .edu-info{
    margin: 0px 0px 0px 20px;
  }
  .display-info-page{
    display: flex;
  }
  .img-contact{
    width: 400px;
    padding-top: 20px;
    border-radius: 25px;
  }
  .text-detail{
    font-size: 14px;
  }
  .img-edu{
    width: 40px;
    height: 40px;
    margin-left: 50px;
    padding-left: -15px;
  }
  .card-white-info {
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    width: 1000px;
  }
  .address-info {
    margin: 0px 0px 0px 0px;
  }
 
  .card-contact {
    /* float: center; */
    max-width: 1300px;
  }
  .card-info-contact {
    background-color: #fbeee6;
    width: 350px;
    height: 150px;
  }
  .iframe-contact {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    margin: 0px 0px 0px -50px;
  }
  .name {
    color: #ff8e26;
    letter-spacing: 2px;
    font-size: 35px;
  }

  .surname {
    color: #ff8e26;
    letter-spacing: 2px;
    font-size: 22px;
    padding-left: 20px;
  }

  .on-select {
    background-color: rgba(225, 234, 249, 0.8);
    border-radius: 10px;
    padding: 5px;
  }

  .text-infomation {
    color: #ff8e26;
    font-size: 18px;
  }

  .bg-grade {
    background-color: rgba(233, 120, 0, 0.5);
    border-radius: 8px;
    padding: 3px 10px 3px 10px;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
}
@media (max-width: 1024px) and (min-width: 430px){
  .img-edu{
    width: 40px;
    height: 40px;
    padding-left: -15px;
  }
  .img-contact {
    width: 330px;
    margin-top: 20px;
  }
  .text-detail {
    font-size: 13px;
  }
  .card-white-info {
    background-color: #ffff;
    border: none;
    border-radius: 20px;
    width: 80px;
  }
  .address-info {
    margin: 0px 0px 0px -15px;
  }
  .card-contact {
    float: center;
    max-width: 950px;
  }
  .card-info-contact {
    background-color: #fbeee6;
    width: 200px;
    height: 180px;
    padding: 0px 0px 0px 30px;
  }
  .iframe-contact {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
  }
  .name {
    color: #ff8e26;
    letter-spacing: 2px;
    font-size: 30px;
  }

  .surname {
    color: #ff8e26;
    letter-spacing: 1px;
    font-size: 16px;
    padding-left: 14px;
  }

  .on-select {
    background-color: rgba(225, 234, 249, 0.8);
    border-radius: 10px;
    padding: 5px;
  }

  .text-infomation {
    color: #ff8e26;
    font-size: 14px;
  }

  .bg-grade {
    background-color: rgba(233, 120, 0, 0.5);
    border-radius: 8px;
    padding: 3px 10px 3px 10px;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
}
@media (max-width: 768px) and (min-width: 430px){
  
  .img-edu{
    width: 25px;
    height: 25px;
    padding-left: -15px;
  }
  .text-header-title {
    font-size: 40px;
    color: #ff8e26;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    padding-top: 5px;
    margin-left: 50px;
  }
  .img-contact{
    width: 260px;
  }
  .text-detail {
    font-size: 10px;
    /* padding: 0px 0px -10px 0px;
    margin: 0px 0px -10px 0px; */
  }
  .card-white-info {
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    width: 330px;
    /* padding: 20px; */
    /* overflow: auto; */
  }
  .address-info {
    margin: 0px 0px 0px -5px;
  }
  .card-contact {
    /* float: center; */
    width: 700px;
  }
  .card-info-contact {
    background-color: #000000;
    width: 150px;
    height: 150px;
  }
  .iframe-contact {
    width: 130px;
    height: 100px;
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
  }
  .name {
    color: #ff8e26;
    letter-spacing: 1px;
    font-size: 24px;
  }
  .surname {
    color: #ff8e26;
    letter-spacing: 0px;
    font-size: 12px;
    padding-left: 1px;
  }
  .on-select {
    background-color: rgba(225, 234, 249, 0.8);
    border-radius: 10px;
    padding: 5px;
  }
  .text-infomation {
    color: #ff8e26;
    font-size: 12px;
  }
  .bg-grade {
    background-color: rgba(233, 120, 0, 0.5);
    border-radius: 8px;
    padding: 2px 10px 3px 10px;
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
}

@media (max-width: 426px) {
  .text-header-title {
    font-size: 30px;
    color: #ff8e26;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    padding-top: 5px;
    margin-left: 15px;
  }
  .nav-brand{
    font-size: 12px !important;
  }
  .nav-menu{
    font-size: 10px;
  }
  .img-edu{
    width: 30px;
    height: 30px;
    padding: 5px 0px 0px 5px;
  }
  .img-contact {
    width: 280px;
    border-radius: 20px;
  }
  .text-detail {
    font-size: 14px;
    margin: 0px 0px -20px 0px;
  }
  .card-white-info {
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    width: 50px;
    margin-top: 20px;
  }
  .address-info {
    margin: 0px 0px 0px 25px;
  }
  .edu-info{
    margin: 0px 0px 0px 25px;
  }
  .card-contact {
    float: center;
    width: 400px;
  }
  .card-info-contact {
    background-color: #ffffff;
    width: 150px;
    height: 50px;
  }
  .iframe-contact {
    width: 250px;
    height: 100px;
    border-radius: 10px;
    margin: 0px 0px 0px 150px;
  }
  .name {
    color: #ff8e26;
    letter-spacing: 2px;
    font-size: 30px;
  }
  .surname {
    color: #ff8e26;
    letter-spacing: 2px;
    font-size: 22px;
    padding-left: 5px;
  }
  .on-select {
    background-color: rgba(225, 234, 249, 0.8);
    border-radius: 10px;
    padding: 5px;
  }
  .text-infomation {
    color: #ff8e26;
    font-size: 14px;
  }
  .bg-grade {
    background-color: rgba(233, 120, 0, 0.5);
    border-radius: 8px;
    padding: 3px 10px 3px 10px;
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
}
@media (max-width: 376px) {
  .img-edu{
    width: 25px;
    height: 25px;
    padding-top: 5px;
  }
  .text-header-title {
    font-size: 30px;
    color: #ff8e26;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    padding-top: 5px;
    margin-left: 15px;
  }
.nav-brand{
  font-size: 12px !important;
}
.nav-menu{
  font-size: 10px;
}
  .img-contact {
    width: 250px;
    border-radius: 20px;
  }
  .text-detail {
    font-size: 14px;
    margin: 0px 0px -20px 0px;
  }
  .card-white-info {
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    width: 50px;
  }
  .address-info {
    margin: 0px 0px 0px 5px;
  }
  .edu-info{
    margin: 0px 0px 0px 0px;
  }
  .card-contact {
    width: 350px;
  }
  .card-info-contact {
    background-color: #ffffff;
    width: 250px;
    height: 50px;
  }
  .iframe-contact {
    width: 250px;
    height: 100px;
    border-radius: 10px;
    margin: 0px 0px 0px 0px;
  }
  .name {
    color: #ff8e26;
    letter-spacing: 2px;
    font-size: 30px;
  }
  .surname {
    color: #ff8e26;
    letter-spacing: 1px;
    font-size: 25px;
    padding-left: 5px;
  }
  .on-select {
    background-color: rgba(225, 234, 249, 0.8);
    border-radius: 10px;
    padding: 5px;
  }
  .text-infomation {
    color: #ff8e26;
    font-size: 12px;
  }
  .bg-grade {
    background-color: rgba(233, 120, 0, 0.5);
    border-radius: 8px;
    padding: 1px 5px 1px 5px;
  }
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
}
